# =========================
# Git ignore for GPUDBMetalBenchmark
# =========================

# Build artifacts
build/
default.metallib
kernels/*.air
kernels/*.metallib

# TPC-H data files
data/**/*.tbl

# macOS system files
.DS_Store
*/xcuserdata/
DerivedData/

# IDE / editor
.vscode/

# Tooling
temp_tpch/tpch-dbgen/
