# =========================
# Git ignore for GPUDBMetalBenchmark
# =========================

# Ignore all datasets and large files
GPUDBMetalBenchmark/Data/SF-1/
*.tbl

GPUDBMetalBenchmark/Data/SF-10/
*.tbl


# macOS + Xcode temp files
.DS_Store
*/xcuserdata/
DerivedData/
.vscode/
temp_tpch/tpch-dbgen/
